.visibility{
    visibility: hidden;
  }
  
  .bookListCard{
    width: 100%;
    text-align: center;
  }
  
  @keyframes mymove {
    50% {color: rgb(22, 21, 20);}
    0% {
      object-position: 0% 0%;
    }
    25% {
      object-position: 20% 0%;
    }
    100% {
      object-position: 100% 100%;
    }
  }
  .bookListCardImage{
      height: 350px;
  }
  
  .bookListCardLeftContent{
    text-align: center;
    top: 15%;
    left: 60%;
    position: absolute;
    font-family: "Copperplate, Papyrus, fantasy";
  }
  
  .bookListCardContentAni{
    font-size: 250%;
    color: rgb(255, 0, 98);
    animation: mymove 3s infinite;
    font-family: Trebuchet MS, Helvetica, sans-serif;
  
  }
  .bookListCardRightContent{
    text-align: center;
    top: 15%;
    right: 60%;
    position: absolute;
    font-family: "Copperplate, Papyrus, fantasy";
  
  }
  
  .bookListCardContent{
    color: black !important;
    font-weight: 600;
  }
  
  .booklistCard2{
    width: 100%;
    margin: 20px 10px;
    background-color: white;
  }
  
  .booklistCard2:hover{
    box-shadow: 7px 7px 7px 7px #b6b3b3;
    transition: 0.5s;
    transform: translateY(7px);
  }
  
  .booklistCard2Container{
    display: inline;
  }
  
  .booklistCard2Heading{
    font-weight: 800;
  }
  
  .booklistCard2Text{
    color: black !important;
    font-size: 18px;
  }
  
  .booklistCard2Image{
    object-fit: cover;
    object-position: 0% 0%;
    animation: booklistCard2ImageAni 5s infinite;
  }  
  
  @keyframes booklistCard2ImageAni {
    50% {color: black;}
    0% {
      object-position: 0% 0%;
    }
    25% {
      object-position: 20% 0%;
    }
    100% {
      object-position: 100% 100%;
    }
  }
  
  .booklistCard2Content{
    background-color: rgb(255, 253, 253);
    padding: 30px;
  }
  
  .Cardshover:hover{
    box-shadow: 5px 5px 5px 5px #111111;
    transform: translateY(10px);
    transition: 1s;
  }
  